<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <bean id="questionDAO" class="edu.otus.dao.QuestionsDAOImpl">
        <constructor-arg name="parser" ref="parser"/>
        <constructor-arg name="path" value="${csv.path}"/>
    </bean>

    <bean id="testingService" class="edu.otus.service.TestingServiceImpl">
        <constructor-arg name="questionsDAO" ref="questionDAO"/>
    </bean>

    <bean id="parser" class="edu.otus.util.String2QuestionParser">
    </bean>

    <context:property-placeholder location="classpath:app.properties" />

</beans>
